#time-left {
  font-size: 4em;
}
#timer-label {
  font-size: 2em;
}
#start_stop,
#reset {
  font-size: 1.5em;
}

#break-increment,
#break-decrement,
#session-increment,
#session-decrement {
  font-size: 1.5em;
}
#break-label,
#session-label {
  font-size: 1.5em;
}
span {
  font-size: 2em;
}
